<div class="converter-container element-bg">
  <form [formGroup]="converterForm" fxLayout="row wrap" (ngSubmit)="onConvert()">
    <div fxFlex="100" fxFlex.gt-xs="29">
      <label>Amount</label>
      <input type="number" formControlName="amount" />
    </div>
    <div fxFlex="100" fxFlex.gt-xs="29">
      <label>From</label>
      <select formControlName="from">
        <option [value]=currency *ngFor="let currency of fromCurrencies">{{currency}}</option>
      </select>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="13">
      <fa-icon [icon]="arrow" class="fa-3x switch-icon pointer" (click)="switchCurrency()"></fa-icon>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="29">
      <label>To</label>
      <select formControlName="to">
        <option [value]=currency *ngFor="let currency of toCurrencies">{{currency}}</option>

      </select>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="29" fxHide.lt-sm></div>
    <div fxFlex="100" fxFlex.gt-xs="71">
      <button class="pointer" type="submit" [disabled]="converterForm.invalid">Convert</button>
    </div>
    <div fxFlex="100" [fxFlex.gt-xs]="showDetailButton ? 33.3 : 29" fxLayoutAlign="center center" class="panel-wrapper">
      <span class="panel rate"> <span *ngIf="rate !== 'Unavailable'">1.00 {{converterForm.get('from')?.value}} =
          {{rate}}
          {{converterForm.get('to')?.value}}</span></span>
    </div>
    <div fxFlex="100" [fxFlex.gt-xs]="showDetailButton ? 33.3 : 71" fxLayoutAlign="center center" class="panel-wrapper">
      <span class="panel result"><span *ngIf="converterForm.get('result')?.value">
          {{converterForm.get('result')?.value}} {{converterForm.get('to')?.value}}
        </span></span>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="31.8" *ngIf="showDetailButton">
      <button class="detail-button pointer" routerLink="/{{converterForm.get('to')?.value}}/detail">More
        Details</button>
    </div>

  </form>
</div>
