<nav class="navbar element-bg">
  <div class="logo-container pointer" routerLink="/">
    <img class="logo-image" src="assets/images/logo.png" alt="logo">
  </div>
  <ul class="nav-menu" [ngClass]="{'visible': showMenu}">
    <li class="menu-item">
      <span class="menu-link pointer" [routerLink]="['/eur/usd/detail']" routerLinkActive="router-link-active">EUR-USD
        Details</span>
    </li>
    <li class="menu-item">
      <span class="menu-link pointer" [routerLink]="['eur/gbp/detail']" routerLinkActive="router-link-active">EUR-GBP
        Details</span>
    </li>
  </ul>
  <fa-icon [icon]="hamburger" class="fa-2x pointer menu-icon" fxHide.gt-xs (click)="showMenu = !showMenu"
    *ngIf="!showMenu"></fa-icon>
  <fa-icon [icon]="close" class="fa-2x pointer menu-icon" fxHide.gt-xs (click)="showMenu = !showMenu" *ngIf="showMenu">
  </fa-icon>
</nav>
